<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="server=10.1.32.13;uid=cchrtest;pwd=cchr.1234;database=SvnManager" />
    <!--5分钟执行一次-->
    <add key="Interval" value="300000" />
    <add key="LogPath" value="\Log" />
  </appSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
</configuration>